.body {
    font-family:var(--font-mono);
    display: flex;
    align-items: center;
    vertical-align: auto;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}
.form {
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.body label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}
.body h4{
    margin: 40px;
    font-size: 25px;
}
.body h2{
    margin-top: 20px;
}
.body input[type="email"],
.body input[type="password"],
.body input[type="text"]{
    width: 120%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2272FF;
    border-radius: 10px;
    font-size: 16px;
}
.body table thead th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.body button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #191970;
    margin-top: 15px;
    transition: background-color 0.5s, box-shadow 0.3s
}

.body button:hover {
    background-color: #1F66CC;
}

.body table tbody tr:nth-child(odd) {
    background-color: #191970;
}

.body table tbody tr:nth-child(even) {
    background-color: #3030ad;
}
.body button[type="submit"]:hover {
    background-color: #1F66CC;
}
.body table{
    margin:20px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;

}
.body table td{
    border-right: 4px solid #333;
    padding: 10px;

}

.tableContainer table td:last-child {
    border-right: none;
}
/*.body table, .body th, .body td {
    border: 6px solid #191970;
}*/

.formRow {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.checkBoxContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: left;
}
.checkbox{
    width: 20px;
    height: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.full-button {
    width: 100%;
    height: 100%;
    background-color: red;
}
.body button {
    width: 100%;
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.5s, box-shadow 0.3s
}

.body button:hover {
    background-color: #3b3a3a;
}
.body .basicButton {
    background-color: #191970;
    color: white;
}
.body .basicButton:hover {
    background-color: #1F66CC;
    color: white;
}
.buttons button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: -10px;
    background-color: #191970;
    transition: background-color 0.5s, box-shadow 0.3s
}
.buttons button:hover {
    background-color: #1F66CC;
}
.paginationContainer {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 10px;
}