.body {
    font-family:var(--font-mono);
    height: 65vh;
    display: flex;
    align-items: center;
    vertical-align: top;
    background-color: black;
    flex-direction: column;
}
.body h3{
    margin-bottom: 20px;
}
.body input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2272FF;
    border-radius: 10px;
    font-size: 16px;
}
.body label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}